@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
  font-family: "Inter", sans-serif;
  background-color: rgba(11, 11, 11, 1);
  color:rgb(226, 226, 226);
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

html {
  scroll-behavior: smooth;
}

