.projects {
  padding: clamp(2rem, 6vw, 5rem);
  background: rgba(11, 11, 11, 0.682);
}



.project-card {
  max-width: 1200px;
  margin-inline: auto;
  padding: 2rem;
  margin-bottom: 1.5rem;

  display: grid;
  grid-template-columns: 1.1fr 1fr;
  gap: 3rem;

  background: rgba(255,255,255,0.03);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.1);
  transition: 0.2s ease;
}

.project-card:hover {
  background: rgba(255, 255, 255, 0.073);
}


.project-media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  justify-self: center;
   overflow: hidden;
}

.project-media img {
  width: 100%;
  max-width: 400px;
  border-radius: 14px;
   display: block;
}


.project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}


.project-title {
  font-size: clamp(1.6rem, 3vw, 2.2rem);
  line-height: 1.2;
  font-weight: 600;
}

.project-description {
  font-size: clamp(0.95rem, 2vw, 1.05rem);
  color: #bdbdbd;
  max-width: 520px;
}


.project-stack {
  display: flex;
  gap: 0.6rem;
  flex-wrap: wrap;
}

.project-stack span {
  padding: 0.4rem 0.8rem;
  font-size: 0.75rem;
  border-radius: 999px;
  background: rgba(255,255,255,0.08);
  align-self: flex-start;
}

.project-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.btn {
  align-self: flex-start;
  padding: 0.7rem 1.4rem;
  border-radius: 999px;
  font-size: 0.9rem;
  text-decoration: none;
  cursor: pointer;
}

.btn.primary {
  background: #fff;
  color: #000;
}

.btn.secondary {
  background: rgba(255,255,255,0.12);
  color: #fff;
}

@media (max-width: 900px) {
  .project-card {
    grid-template-columns: 1fr;
  }

  .project-media img {
    max-width: 260px;
  }
}


.projects {
  min-height: 100vh;
  scroll-snap-align: start;
  scroll-margin-top: 90px;
}