@import url('https://api.fontshare.com/v2/css?f[]=satoshi@400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

.navLink {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #0f0f0f; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;

}


.navLink ul {
  margin: 0;
  padding: 0;
}

li, a, button {
  font-family: 'Satoshi';
  font-weight: 600;
  /* font-size: 16px; */
  font-size: clamp(18px, 1vw, 27px);
  /* background-color: #0f0f0f; */
  color: #ededed;
  text-decoration: none;
}

.navLink {
  list-style: none;
}

.navLink li {
  display: inline-block;
  padding: 0px 15px
}

.navLink li a {
  transition: all 0.3s ease 0s;
}

.navLink li a:hover {
  text-decoration: underline;
  text-decoration-color: #0f0f0f;
  text-underline-offset: 3px;
}

button {
  padding: 6px 22px;
  background-color: #0f0f0f;
  color: #f5f5f5;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #80afc3;
  color: rgba(255, 255, 255, 255);
  box-shadow: 0 6px 10px 0 rgba(9, 9, 9, 0.2);
}